In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Part 1: Experiment Design

In this part of the challenge I'm going to explain how could I measure the impact of the professional photography service in detail. Explain which would be my experiments and how would I make sure they are not biased.

Firstly, there is obviously a general overview of the generic situation. I would start by doing some basic statistics. Starting with the conversion rate from the professional photos (from now on PP) versus the casual photos (from now on CP), the conversion rate would be calculated by dividing the number of booked houses by the total number of houses, I would calculate this for each day of the past year. At least that is a start. After I would to the same but clustering them by size, city and average booked price. Okey, so now we can know which ones have better conversion rate. The fact of clustering them by size, location and average booked price per day would help me to not have a biased experiment since each an every conversion rates house would be compared between houses with the same traits, the only difference being if they were PP or CP. In this case, we are trying to find out what is best for the booking rate.

I think it is also important to take into consideration the average clients reviews, since having different type of pictures might give a different type of idea to the consumer, maybe one that it is not the real one. I think that in this case we would not only cluster them by the same previous segments but we would also add the number of pictures of the house, since the more picture the more information the user will have about the house. In this case, we are looking to see if the proffesional pictures are making the houses look better than they really are or if on the other hand, they actually give the clients better insights about what they are going to find once they arrive to the house. In this case, we are trying to find out what is best for the customer satisfaction.

Once we start to have an idea about the conversion rate an the clients satisfaction, it is time to know if a customer would actually pay more for a PP than for a CP. I have come up with 2 different ways to validate this hypothesis. Firstly, the one that I think that has the more sense is an A/B testing. Showing to different customers 4 different types of postings (obviously this test should be done with a low number of users since it could make Airbnb look really bad). In order to verify the hypothesis there should be compared the conversion rate of PP with low and high price (low meaning a 5% or 10% cheaper) and the CP with low and high price. The fact of checking with two different prices is to understand the different customer behaviours that there can be.

Another way that I think it would be also be a good way of knowing if the client would be willing to pay more for different type of photos would be by comparing one years average booking price with CP and the next years booking price with PP. In order to validate this experiment, there should be some things taken into account: The house must not have had any type of significant repair (one that it can be seen in the pictures or added in the description). The price difference would also have to be compared with the price difference of the houses around in the same zone. Let's say that with the CP the average booking price was 100 and with the PP 150. Only knowing this price difference and that there has not been any repair would not be enough to be able to say that it makes a difference because it can be caused by an external factor. Therefore we should check if the 50% increase is consistent with the houses with similar traits around or if it's just this house. For example if the average booking price of the other houses was 120 CP and now is 150 PP, it's an start.
It goes without saying that this experiment should be done with thousands of houses.

### Part 2: Result analysis

In [4]:
df = pd.read_json('intervals_challenge.json', lines = True)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165170 entries, 0 to 165169
Data columns (total 7 columns):
duration      165170 non-null object
distance      165170 non-null object
started_at    165170 non-null datetime64[ns]
trip_id       165170 non-null object
vehicle_id    165170 non-null object
city_id       165170 non-null object
type          165170 non-null object
dtypes: datetime64[ns](1), object(6)
memory usage: 8.8+ MB

In [8]:
df.head()

,duration,distance,started_at,trip_id,vehicle_id,city_id,type
0,857,5384,2016-10-03 13:00:00.286999941,c00cee6963e0dc66e50e271239426914,52d38cf1a3240d5cbdcf730f2d9a47d6,pentos,driving_to_destination
1,245,1248,2016-10-03 13:00:00.852999926,427425e1f4318ca2461168bdd6e4fcbd,8336b28f24c3e7a1e3d582073b164895,volantis,going_to_pickup
2,1249,5847,2016-10-03 13:00:01.670000076,757867f6d7c00ef92a65bfaa3895943f,8885c59374cc539163e83f01ed59fd16,pentos,driving_to_destination
3,471,2585,2016-10-03 13:00:01.841000080,d09d1301d361f7359d0d936557d10f89,81b63920454f70b6755a494e3b28b3a7,bravos,going_to_pickup
4,182,743,2016-10-03 13:00:01.970000029,00f20a701f0ec2519353ef3ffaf75068,b73030977cbad61c9db55418909864fa,pentos,going_to_pickup

In [9]:
df['api'] = np.where(df['age']>=50, 'yes', 'no')

,duration,distance,started_at,trip_id,vehicle_id,city_id,type
0,857,5384,2016-10-03 13:00:00.286999941,c00cee6963e0dc66e50e271239426914,52d38cf1a3240d5cbdcf730f2d9a47d6,pentos,driving_to_destination
1,245,1248,2016-10-03 13:00:00.852999926,427425e1f4318ca2461168bdd6e4fcbd,8336b28f24c3e7a1e3d582073b164895,volantis,going_to_pickup
2,1249,5847,2016-10-03 13:00:01.670000076,757867f6d7c00ef92a65bfaa3895943f,8885c59374cc539163e83f01ed59fd16,pentos,driving_to_destination
3,471,2585,2016-10-03 13:00:01.841000080,d09d1301d361f7359d0d936557d10f89,81b63920454f70b6755a494e3b28b3a7,bravos,going_to_pickup
4,182,743,2016-10-03 13:00:01.970000029,00f20a701f0ec2519353ef3ffaf75068,b73030977cbad61c9db55418909864fa,pentos,going_to_pickup
...,...,...,...,...,...,...,...
165165,NA,NA,2016-10-04 20:36:10.846999884,d2f81b419daddb90bd701ab9870f47a3,05e4532a59b7bfe65894335d1bc83e4d,volantis,driving_to_destination
165166,NA,NA,2016-10-04 20:36:12.719000101,73a07d4504036997306e0e3330529294,bed6dd187f23b3e8d956bb0d1ab0524a,volantis,waiting_for_rider
165167,NA,NA,2016-10-04 20:36:14.763000011,d98c047d565bd488b17e08594965c479,31cd2f19d27c0c0c0ca386de72866a81,bravos,driving_to_destination
165168,NA,NA,2016-10-04 20:36:15.957999945,ce9a7ae5f76667c9f92b149a1b345a2d,4a555013634506246eed5d801ffbe526,volantis,driving_to_destination
165169,NA,NA,2016-10-04 20:36:20.473999977,469dff3624a9a37bb986157750fb73e8,27b7111eb7046e253c9896eee617b02e,volantis,going_to_pickup